# fastapi>=0.68.0,<0.69.0
fastapi
# pydantic>=1.8.0,<2.0.0
pydantic
# uvicorn>=0.15.0,<0.16.0
uvicorn
python-decouple
sqlalchemy
psycopg2-binary
passlib
python-jose
# python-jose>=3.0.0
opencv-python
Pillow
cvzone
mediapipe
# tensorflow
python-multipart
bcrypt